<!DOCTYPE html>
<html>
<head>
	<title>Thank you!</title>
</head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<style type="text/css">
body {
background: linear-gradient(to right, #4776e6, #8e54e9);
}
div {
    height: 200px;
    width: 400px;
    color: white;
    font-family: 'Montserrat', sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
#p1 {
	color: #E5E4E2;
}
</style>
<body>
<div>
<h1><center>Thank You!</center></h1>
<p id="p1"><center>We will reach you shortly.</center></p>
</div>
</body>
</html>